@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MVC CORE BASIC ASSIGNMENT</h1>
    <p>In this assignment I have added Three models School, Teacher and Student, created a database  and made a two services The first for teacher add and display the teachers list
        the Second is Student Service add a seed list alrady included in the service itself and display it. The links have included in the navbar. </p>
</div>
